<!DOCTYPE html>
<html>
  <head>
    <title>Ridhwan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header background">
      <div class="container">
        <ul class="social-icons pt-3">
          <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
          <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
          <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-google" aria-hidden="true"></i></a></li>
          <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
          <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
        </ul>  
        <div class="header-content">
          <h4 class="header-subtitle" >Hello, I am</h4>
          <h1 class="header-title">Ridhwan Ziyadi</h1>
          <h6 class="header-mono" >Web Developer</h6>
        </div>
      </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar w/ text</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
          </ul>
          <ul class="navbar-nav brand">
            <%= image_tag('logo.jpg', class: "brand-img") %>
            <li class="brand-txt">
              <h5 class="brand-title">Ridhwan Ziyadi</h5>
              <div class="brand-subtitle">Web Designer | Developer</div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="#blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item last-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




    <%= yield %>
  </body>
</html>
